version: '3'

services:
  streamlit:
    image: streamlit-app
    container_name: streamlit-app
    restart: always
    expose:
      - "8501"
    environment:
      - VIRTUAL_HOST=tenmiencuaban.com
      - VIRTUAL_PORT=8501
      - LETSENCRYPT_HOST=tenmiencuaban.com
      - LETSENCRYPT_EMAIL=youremail@example.com

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html

  nginx-proxy-acme:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: nginx-proxy-acme
    restart: always
    environment:
      - NGINX_PROXY_CONTAINER=nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
